@import url('https://fonts.googleapis.com/css?family=Roboto:400');
* {
    margin: 0px; 
	padding: 0px; 
    box-sizing: border-box;
    transition: all 200ms ease;
}
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.data-table-container {
    width: 100%;
    margin: 0 auto;
    background-color: lightgrey;
}
@import './components/data-table/data-table.scss';