// main table wrapper
.data-table-wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}
.data-table-wrapper__data-table {
    width: 1170px;
}
// header
.data-table__header {
    position: relative;
    background: $primary-color-dark;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    div {
        align-self: center;
        padding: 20px;
        color: #FFFFFF;
        font-size: 18px;
    }
}

// search field
.search {
    position: relative;
    width: auto;
}
.search__icon {
    color: $primary-color-light;
}
.search__input {
    margin-left: 20px;
    background: $primary-color;
    border: 1px solid rgba($primary-color-light, 0.4);
    font-size: 18px;
    color: $primary-color-light;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    width: 150px;
    &:focus {
        width: 220px;
    }
}
         
// table
.data-table__table {
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
// table header
.table__head__row {
    height: 60px;
    background: $table-head-color; 
    @extend .shadow-6dp;
}
.head__row__column {
    font-size: 18px;
    color: $table-head-text-color;
    line-height: 1.2;
    font-weight: unset;
    position: relative;
    padding-left: 25px;
    text-align: left;
}
.column__sort-arrow{
    position: absolute;
    margin-left: 10px;     
    cursor: pointer;
    color: $primary-color-light;

    &.column__sort-arrow--up{
        margin-top: -5px;
    }
    &.column__sort-arrow--down{
        margin-top: 8px;
    }
}

// table body
.table__body__row {
    height: 50px;
    font-size: 15px;
    color: $table-body-text-color;
    line-height: 1.2;
    font-weight: unset;
    border-bottom: 1px solid $border-color; 
    &:hover {
        @extend .shadow-2dp;
    }    
}
.body__row__column {
    padding-left: 25px;
    text-align: left;
    position: relative;
    overflow: hidden;
    max-width: 250px;
    &:hover {
        .row__column__f-icon {
            display: block;
        }
    }
}
.row__column__content-head {
    display: none;
}
.row__column__f-icon {
    cursor: pointer;
    color: $primary-color-light;
    position: absolute;
    z-index: 100;
    left: 6px; 
    top: 6px;
    display: none;
}
  

// Editor
.editor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.7);
    z-index: 999;
}

.editor-overlay__container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor-overlay__close {
    color: #FFFFFF;
    border: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}
.overlay-container-row {
    display: flex;
    justify-content: center;
}
.overlay-container-row__flex-item {
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    &:last-child {
        margin: 0;
    }
}
.flex-item__input {
    background: #FFFFFF;
    border-color: transparent;
    padding: 10px;
    font-size: 18px;
    width: 450px;
    color: $table-body-text-color;
    border-radius: 5px;
    &:focus {
        outline: none;
        @extend .shadow-6dp;
    }
}

// button
.button {
    position: relative;
    padding: 12px;
    font-size: 18px;
    text-align: center;
    width: 120px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover, &:focus {
        @extend .shadow-6dp;
    }
}
.button--overlay {
    background-color: $secondary-color;
    color: #FFFFFF;
    &:hover, &:focus {
        background-color: darken($secondary-color, 3);
    }
}
